# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

NEXTAUTH_SECRET=c30c4d82120970123a44ff43b038bb72

GITHUB_ID=Ov23li83RNoN2lYngtwf
GITHUB_SECRET=5b7f4ce9d915870dd0b1630b3315d2974e238e0d

GOOGLE_ID=432713793584-7mlch9nvsnf7e1kb5166bvl4ta15o4p5.apps.googleusercontent.com
GOOGLE_SECRET=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